.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto) 1fr;
  place-items: start;
  /* grid-template-rows: repeat(); */
}

.titulo {
  grid-column: 1 / -1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 200px;
  margin-top: 238.5px;
}


/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1, p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p, span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background-color: #aa88ff;
  color: #110033;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.comprar:hover {
  background-color: #9884ff;
}

.preco {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.preco:hover {
  background-color: #a9a9ac;
}
