body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
}

.item {
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}

.comprar {
  background-color: #aa88ff;
  color: #110033;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
  justify-content: end;
}