a {
  color: rgb(36, 34, 34);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  background-color: lightgray;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}

a:hover {
  background-color: gray;
}